{% extends 'base.html' %}
{% load static %}

{% block title %}Booking #{{ booking.booking_ref }} Details | Nord Velocity{% endblock %}

{% block content %}
<section class="dashboard">
    <div class="container user-portal-grid">
        <!-- Left Sidebar -->
        {% include 'accounts/customer_sidebar.html' with active_tab='bookings' %}
        
        <!-- Main Content -->
        <div class="dashboard-main-content" id="dashboardMainContent">
            {% include 'accounts/partials/booking_order_detail_partial.html' %}
        </div>
    </div>
</section>
{% endblock %}
